name: Publish SDK

on:
  release:
    types: [published]

jobs:
  publish:
    name: Build & Publish to NPM
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/sdk
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: npm
          cache-dependency-path: package-lock.json

      - run: npm install
      - run: npm test
      - run: npm run build
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
